packages: 
  yum:
    gcc: []
    #figlet: [] 

commands:
  grab_figlet:
    cwd: /tmp
    command: wget ftp://ftp.figlet.org/pub/figlet/program/unix/figlet-2.2.5.tar.gz
  command block:
    cwd: /tmp
    command: |
      tar zxvf figlet-2.2.5.tar.gz
      cd figlet-2.2.5
      make figlet
      cp figlet /usr/bin
