files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            */5 * * * * /usr/local/bin/PdrivesHB.sh
            */5 * * * * /usr/local/bin/TdrivesHB.sh

    "/usr/local/bin/PdrivesHB.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            if [[ $(ping -q -c 3 10.19.9.225) == @(*100% packet loss*) ]]; then
            echo “DRIVES PROD down $(date)” >> /var/log/messages
            else
            echo “DRIVES PROD alive $(date)” >> /var/log/messages
            fi
            exit 0

    "/usr/local/bin/TdrivesHB.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            if [[ $(ping -q -c 3 10.19.9.224) == @(*100% packet loss*) ]]; then
            echo “DRIVES Temp down $(date)” >> /var/log/messages
            else
            echo “DRIVES Temp alive $(date)” >> /var/log/messages
            fi
            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/mycron.bak"
