files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            */1 * * * * root /usr/local/bin/tdrives.sh

    "/usr/local/bin/tdrives.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
          #!/bin/bash
          trackingfile="/tmp/sitestat.txt"
          if [[ ! -f "$trackingfile" ]]; then
            echo "$trackingfile doesn't exist, creating and assuming endpoint is ok"
            echo 1 > $trackingfile
          fi
          previouscheck=`cat $trackingfile`
          echo "previous check was $previouscheck"
          cresult=`curl -s -o /dev/null -I -w "%{http_code}" https://dwsnp.fast.colorado.gov/`
          echo "cresult is $cresult"
          if [[ ( $cresult == "200" ) && ( $previouscheck == "1" ) ]]; then
            echo "do nothing"
          elif [[ ( $cresult == "200" ) && ( $previouscheck == "0" ) ]]; then
            echo "drives test up $(date)" >> /var/log/messages
            echo 1 > $trackingfile
          elif [[ ( $cresult != "200" ) && ( $previouscheck == "1" ) ]]; then
            echo "drives test down $(date)" >> /var/log/messages
            echo 0 > $trackingfile
          else
            echo "still down"
          fi
          exit 0
